/*Dávid*/

.INFleftM {
    -fx-background-image: url("/Interface/INFbalmenu.png");
    -fx-background-color: none;
}

.INFplusbutt{
	-fx-background-color: none;
	-fx-background-image: url("../icons/+.png");
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.INFplusbutt:pressed{
	-fx-background-color: none;
	-fx-background-image: url("../icons/+p.png");
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.INFminusbutt{
	-fx-background-color: none;
	-fx-background-image: url("../icons/-.png");
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.INFminusbutt:pressed{
	-fx-background-color: none;
	-fx-background-image: url("../icons/-p.png");
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.INFgyorsbutt{
	-fx-background-image: url("../icons/base.png");
	-fx-background-color: none;
    -fx-background-position: center;
}

.INFspinbutt{
	-fx-background-color: none;
	-fx-background-image: url("../icons/spin.png");
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.INFspinbutt:pressed{
    -fx-background-color: none;
    -fx-background-image: url("../icons/spinp.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.INFcard{
    -fx-background-color: none;
    -fx-background-image: url("../icons/card.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.INFcard:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}
.INFbank{
    -fx-background-color: none;
    -fx-background-image: url("../icons/bank.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.INFbank:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}
.wheelbutt{
	-fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


/*Szabi*/

.coinBody{
    -fx-background-image: url("/images/Coin/chest.png");
    -fx-background-position: center;

}
.moreButton{
    -fx-background-image: url("/images/Coin/plus.png");
     -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.moreButton:hover{

    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.lessButton{
    -fx-background-image: url("/images/Coin/minus.png");
      -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lessButton:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.headButton{
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Coin/head10.png");
    -fx-background-position: center;
}

.headButton:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.tailButton{
      -fx-background-color: none;
    -fx-background-image: url("/images/Coin/tail10.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.tailButton:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.moneyLabel{
    -fx-background-color: yellow;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.betLabel{

    -fx-background-color: transparent;
    -fx-background-position: center;
}

.resultLabel{
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
     text-align: center;
}


.diceBody{
    -fx-background-image: url("/images/Dice/bg.png");
}

.dicePlus{
    -fx-background-image: url("/images/Dice/plus.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
}

.dicePlus:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.diceMinus{
    -fx-background-image: url("/images/Dice/minus.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
}

.diceMinus:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.diceJatek{
    -fx-background-image: url("/images/Dice/circle.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
}

.diceJatek:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.menuBJ{
    -fx-background-image: url("/images/Fomenu/blackjack.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
        -fx-border: 10px solid; -fx-border-color: #e3e331;

}
.menuBJ:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.menuCoin{
    -fx-background-image: url("/images/Fomenu/coin.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
        -fx-border: 10px solid; -fx-border-color: #e3e331;

}
.menuCoin:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.menuDice{
    -fx-background-image: url("/images/Fomenu/dice.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
        -fx-border: 10px solid; -fx-border-color: #e3e331;


}
.menuDice:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.menuSlotI{
    -fx-background-image: url("/images/Fomenu/slot1.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
        -fx-border: 10px solid; -fx-border-color: #e3e331;

}
.menuSlotI:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.menuSlotII{
    -fx-background-image: url("/images/Fomenu/slot2.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
        -fx-border: 10px solid; -fx-border-color: #e3e331;

}
.menuSlotII:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}
.menuWheel{
    -fx-background-image: url("/images/Fomenu/kerek.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-border: 10px solid; -fx-border-color: #e3e331;

}
.menuWheel:hover{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.menuBG{
    -fx-background-image: url("/images/Fomenu/bg.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
}

.default-color0.chart-pie { -fx-pie-color: #ffd700; }
.default-color1.chart-pie { -fx-pie-color: #ffa500; }
.default-color2.chart-pie { -fx-pie-color: #860061; }
.default-color3.chart-pie { -fx-pie-color: #adff2f; }
.default-color4.chart-pie { -fx-pie-color: #ff5700; }

#chart-pie-label-line {
    -fx-stroke: #e3e331;
    -fx-fill: #e3e331;
    -fx-font-size: 16px;

}

.chart-pie-label {
    -fx-fill: #e3e331;
    -fx-font-size: 1em;
}



/* Change the color of the numerical values ​​on the x and y axes */
.axis {
    /* Change the font color of the x and y axis values ​​*/
    -fx-tick-label-fill: #e3e331;
    /* Change the font type and size of the x and y axis values ​​*/
    -fx-tick-label-font: 16px System;
}


.axis:left
{
    -fx-border-color: transparent #e3e331 transparent transparent;
}
.axis:bottom
{
    -fx-border-color: #e3e331 transparent transparent;
}




/*Márk*/
.BodyBG {
    -fx-background-image: url("/images/hatter.png");
}

.BJGombMegall {
    -fx-background-color: none;
    -fx-background-image: url("/images/Megall.png");
    -fx-background-repeat: no-repeat;
}
.BJGombMegall:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/MegallH.png");
    -fx-background-repeat: no-repeat;
}

.BJGombKartya {
    -fx-background-color: none;
    -fx-background-image: url("/images/Kartya.png");
    -fx-background-repeat: no-repeat;
}
.BJGombKartya:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/KartyaH.png");
    -fx-background-repeat: no-repeat;
}

.BJGombDupla {
    -fx-background-color: none;
    -fx-background-image: url("/images/2X.png");
    -fx-background-repeat: no-repeat;
}
.BJGombDupla:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/DuplaH.png");
    -fx-background-repeat: no-repeat;
}

.BJGombSzetosztas {
    -fx-background-color: none;
    -fx-background-image: url("/images/Szetosztas.png");
    -fx-background-repeat: no-repeat;
}
.BJGombSzetosztas:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/SzetosztasH.png");
    -fx-background-repeat: no-repeat;
}

.BJGomb500 {
    -fx-background-color: none;
    -fx-background-image: url("/images/500.png");
    -fx-background-repeat: no-repeat;
}
.BJGomb500:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/500.png");
    -fx-background-repeat: no-repeat;
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.BJGomb1K {
    -fx-background-color: none;
    -fx-background-image: url("/images/1K.png");
    -fx-background-repeat: no-repeat;
}
.BJGomb1K:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/1K.png");
    -fx-background-repeat: no-repeat;
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.BJGomb2K {
    -fx-background-color: none;
    -fx-background-image: url("/images/2K.png");
    -fx-background-repeat: no-repeat;
}
.BJGomb2K:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/2K.png");
    -fx-background-repeat: no-repeat;
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.BJGomb5K {
    -fx-background-color: none;
    -fx-background-image: url("/images/5K.png");
    -fx-background-repeat: no-repeat;
}
.BJGomb5K:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/5K.png");
    -fx-background-repeat: no-repeat;
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.BJGomb10K {
    -fx-background-color: none;
    -fx-background-image: url("/images/10K.png");
    -fx-background-repeat: no-repeat;
}
.BJGomb10K:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/10K.png");
    -fx-background-repeat: no-repeat;
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.BJGombToggle {
    -fx-background-color: none;
    -fx-background-image: url("/images/Hozzaad.png");
    -fx-background-repeat: no-repeat;
}
.BJGombToggle:selected {
    -fx-background-color: none;
    -fx-background-image: url("/images/Elvesz.png");
    -fx-background-repeat: no-repeat;
}

.BJPipaStart {
    -fx-background-color: none;
    -fx-background-image: url("/images/PipaStart.png");
    -fx-background-repeat: no-repeat;
}

.BJPipaStart:hover {
    -fx-background-color: none;
    -fx-background-image: url("/images/PipaStart.png");
    -fx-background-repeat: no-repeat;
    -fx-scale-x: .95;
    -fx-scale-y: .95;
}

.GenjiSBG{
    -fx-background-image: url("/images/GenjiSlot/GenjiBack.png");
    -fx-background-repeat: no-repeat;
}

.GenjiKifizetes{
    -fx-background-image: url("/images/GenjiSlot/GenjiFizetoLista.png");
    -fx-background-repeat: no-repeat;
}

.GenjiSlotPorgi{
    -fx-background-image: url("/images/GenjiSlot/GenjiSlotAblak.png");
    -fx-background-repeat: no-repeat;
}

.GenjiGombTarto{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombHatter.png");
    -fx-background-repeat: no-repeat;
}

.GenjiGombMin{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/GenjiMinA.png");
    -fx-background-color: none;
}
.GenjiGombMin:hover{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/GenjiMinH.png");
    -fx-background-color: none;
}
.GenjiGombMin:pressed{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/GenjiMinP.png");
    -fx-background-color: none;
}
.GenjiGombMax{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/GenjiMaxA.png");
    -fx-background-color: none;
}
.GenjiGombMax:hover{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/GenjiMaxH.png");
    -fx-background-color: none;
}
.GenjiGombMax:pressed{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/GenjiMaxP.png");
    -fx-background-color: none;
}
.GenjiGombPlus{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/Genji+A.png");
    -fx-background-color: none;
}
.GenjiGombPlus:hover{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/Genji+H.png");
    -fx-background-color: none;
}
.GenjiGombPlus:pressed{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/Genji+P.png");
    -fx-background-color: none;
}
.GenjiGombNeg{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/Genji-A.png");
    -fx-background-color: none;
}
.GenjiGombNeg:hover{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/Genji-H.png");
    -fx-background-color: none;
}
.GenjiGombNeg:pressed{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/Genji-P.png");
    -fx-background-color: none;
}
.GenjiGombStart{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/GenjiSTARTA.png");
    -fx-background-color: none;
}
.GenjiGombStart:hover{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/GenjiSTARTH.png");
    -fx-background-color: none;
}
.GenjiGombStart:pressed{
    -fx-background-image: url("/images/GenjiSlot/GenjiGombok/GenjiSTARTP.png");
    -fx-background-color: none;
}

.INFprofileBG{
    -fx-background-color: none;
    -fx-background-image: url("/Interface/INFbg.png");
    -fx-background-repeat: no-repeat;
}

.BoltBG{
    -fx-background-color: none;
    -fx-background-image: url("/images/Bolt/BoltHatter.png");
    -fx-background-repeat: no-repeat;
}

.default-color0.chart-series-line { -fx-stroke: #80c52e; }
.default-color1.chart-series-line { -fx-stroke: #b22950; }
.default-color0.chart-line-symbol { -fx-background-color: #65a41a, #a8d26f; }
.default-color1.chart-line-symbol { -fx-background-color: #c8194a, #d95278; }
.ProfileMoneyChart .label{
    -fx-text-fill: white;
}
.chart-plot-background {
    -fx-background-color: transparent;
}

.ChartAxisX {
    -fx-tick-label-fill: white;
}
.ChartAxisY {
    -fx-tick-label-fill: white;
}


.ProfilKepek{
    -fx-background-color: grey;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: -3px;
    -fx-background-size: 227px 313px;
}

.BoltProfilKepek{
    -fx-background-color: grey;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: -3px;
    -fx-background-size: 227px 313px;
}
